
<h2 class='text-center'>Your Favorite Films <span><%= link_to '+', film_new_path %></span></h2>


<main class='movies_container'>
  <% @films.each do |film|%>
    <div class='each_movie container'>
      <%= image_tag("#{film.picture}", height: '300') %>
      <p><strong><%= link_to film.title, film_path(film) %></strong>
      <%= " (#{film.year}) - "%>
      <i><small><%= film.genre %></small></i></p>
    </div>
  <% end %>
</main>
